.date {
  position: absolute;
  height: 230px;
  width: 240px;
  border: 2px solid black;
  border-radius: 10px;
}


.date-header {
  position: absolute;
  height: 30px;
  width: 220px;
  margin-left: -110px;
  left: 50%;
  top: 6px;;
}


.date-header .date-selector {
  position: absolute;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  top: 4px;
  text-align: center;
  height: 24px;
}

.date-header .date-selector button {
  background-color: transparent;
  border: none;
}


.date-body {
  position: absolute;
  width: 214px;
  height: 185px;
  margin-left: -107px;
  left: 50%;
  bottom: 5px;
}

.date-body span {
  border-radius: 3px;
  font-family: monospace;
  display: inline-block;
  width: 25px;
  height: 20px;
  margin: 3px 1px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.date-body .date-week {
  font-weight: bolder;
}

.date-date.previous-month, .date-date.next-month{
  color: #ccc;
}

.date-date.today {
  background-color: #cfbefd;
}

.date-date.selected {
  color: #fff;
  background-color: #3077b5;
}
